[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/plugins/start/ayu-vim"]
	path = pack/plugins/start/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim
[submodule "pack/plugins/start/denite.nvim"]
	path = pack/plugins/start/denite.nvim
	url = https://github.com/Shougo/denite.nvim
[submodule "pack/plugins/start/deoplete.nvim"]
	path = pack/plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "pack/plugins/start/jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/plugins/start/nvim-ipy"]
	path = pack/plugins/start/nvim-ipy
	url = https://github.com/bfredl/nvim-ipy
[submodule "pack/plugins/start/nvim-yarp"]
	path = pack/plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/vim-grepper"]
	path = pack/plugins/start/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "pack/plugins/start/vim-hug-neovim-rpc"]
	path = pack/plugins/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "pack/plugins/start/vim-json"]
	path = pack/plugins/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule "pack/plugins/start/meson"]
	path = pack/plugins/start/meson
	url = https://github.com/mesonbuild/meson.git
[submodule "pack/plugins/start/vim-multiple-cursors"]
	path = pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "pack/plugins/start/vim-python-pep8-indent"]
	path = pack/plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "pack/plugins/start/vim-rst"]
	path = pack/plugins/start/vim-rst
	url = https://github.com/mitsuhiko/vim-rst
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "pack/plugins/start/vim-visual-multi"]
	path = pack/plugins/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "pack/plugins/start/yats.vim"]
	path = pack/plugins/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "pack/plugins/start/dash.vim"]
	path = pack/plugins/start/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "pack/plugins/start/ncm2"]
    path = pack/plugins/start/ncm2
    url = https://github.com/ncm2/ncm2.git
[submodule "pack/plugins/start/ncm2-phpactor"]
    path = pack/plugins/start/ncm2-phpactor
    url = https://github.com/phpactor/ncm2-phpactor.git
[submodule "pack/plugins/start/php.vim"]
    path = pack/plugins/start/php.vim
    url = https://github.com/StanAngeloff/php.vim.git
[submodule "pack/plugins/start/phpactor"]
    path = pack/plugins/start/phpactor
    url = https://github.com/phpactor/phpactor.git
[submodule "pack/plugins/start/tagbar"]
    path = pack/plugins/start/tagbar
    url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/phpfolding.vim"]
    path = pack/plugins/start/phpfolding.vim
    url = https://github.com/rayburgemeestre/phpfolding.vim.git
[submodule "pack/plugins/start/vdebug"]
    path = pack/plugins/start/vdebug
    url = https://github.com/vim-vdebug/vdebug.git
[submodule "pack/plugins/start/vim-gutentags"]
    path = pack/plugins/start/vim-gutentags
    url =https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/plugins/start/vim-php-refactoring-toolbox"]
    path = pack/plugins/start/vim-php-refactoring-toolbox
    url = https://github.com/adoy/vim-php-refactoring-toolbox
[submodule "pack/plugins/start/vim-go"]
    path = pack/plugins/start/vim-go
    url = https://github.com/fatih/vim-go
